workflows/2-document-analyzer.json
{
  "name": "2 - Document Analyzer",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "document-analyzer",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "b1b2c3d4-0002-0002-0002-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "document-analyzer"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.body.fileUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "b1b2c3d4-0002-0002-0002-000000000002",
      "name": "Fetch Document",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.quatarly.cloud/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "model": "claude-sonnet-4-6",
          "max_tokens": 2048,
          "messages": [
            {
              "role": "system",
              "content": "You are a document analysis expert. Analyze the provided document and return a structured JSON response with: { \"summary\": string, \"key_points\": string[], \"action_items\": string[], \"sentiment\": string, \"topics\": string[] }"
            },
            {
              "role": "user",
              "content": "=Analyze this document:\n\n{{ $json.data || $json.body }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b1b2c3d4-0002-0002-0002-000000000003",
      "name": "Claude - Analyze Document",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [720, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { analysis: $json.choices[0].message.content, model: $json.model, file_url: $('Webhook').item.json.body.fileUrl } }}",
        "options": {}
      },
      "id": "b1b2c3d4-0002-0002-0002-000000000004",
      "name": "Return Analysis",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [960, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Fetch Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Document": {
      "main": [
        [
          {
            "node": "Claude - Analyze Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude - Analyze Document": {
      "main": [
        [
          {
            "node": "Return Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "librechat-integration" },
    { "name": "documents" }
  ],
  "pinData": {}
}
