workflows/4-librechat-bridge.json
{
  "name": "4 - LibreChat Bridge (OpenAI-compatible)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat/completions",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d1b2c3d4-0004-0004-0004-000000000001",
      "name": "Webhook - LibreChat",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "chat-completions"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.quatarly.cloud/v0/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({model:'claude-sonnet-4-6-20250929',max_tokens:$json.body.max_tokens||1024,messages:$json.body.messages,stream:false}) }}",
        "options": {}
      },
      "id": "d1b2c3d4-0004-0004-0004-000000000002",
      "name": "Forward to Quatarly",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [480, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "1",
          "name": "Quatarly API Key"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ 'data: ' + JSON.stringify({id: $json.id, object: 'chat.completion.chunk', created: $json.created, model: $json.model, choices:[{index:0,delta:{role:'assistant',content:''},finish_reason:null}]}) + '\\n\\ndata: ' + JSON.stringify({id: $json.id, object: 'chat.completion.chunk', created: $json.created, model: $json.model, choices:[{index:0,delta:{content: $json.choices[0].message.content},finish_reason:null}]}) + '\\n\\ndata: ' + JSON.stringify({id: $json.id, object: 'chat.completion.chunk', created: $json.created, model: $json.model, choices:[{index:0,delta:{},finish_reason:'stop'}]}) + '\\n\\ndata: [DONE]\\n\\n' }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/event-stream"
              },
              {
                "name": "Cache-Control",
                "value": "no-cache"
              },
              {
                "name": "X-Accel-Buffering",
                "value": "no"
              }
            ]
          }
        }
      },
      "id": "d1b2c3d4-0004-0004-0004-000000000003",
      "name": "Return OpenAI Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [720, 300]
    }
  ],
  "connections": {
    "Webhook - LibreChat": {
      "main": [
        [
          {
            "node": "Forward to Quatarly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Forward to Quatarly": {
      "main": [
        [
          {
            "node": "Return OpenAI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "librechat-integration" },
    { "name": "bridge" }
  ],
  "pinData": {}
}
